/dir_home/
/database/seeds/VivaDentSeed.php
/database/seeds/seed_file/db_rayMage/
/database/seeds/seed_file/931_pacjenci.csv
/database/seeds/seed_file/931_pacjenci.xls
/database/seeds/seed_file/BAZA.csv
/database/seeds/seed_file/BAZA.ods
/database/seeds/seed_file/BAZA.xls
/database/seeds/seed_file/Produkty_lecznicze2.ods
/public/dir_home/
/public/vendor/
/storage/
/dbdata/
/node_modules/
/bower_components
nbproject/.DS_Store/
nbproject/private/config.properties
nbproject/private/private.properties
nbproject/private/private.xml
/vendor/
.vscode
/storage/
.DS_Store
