/database/seeds/VivaDentSeed.php
/database/seeds/seed_file/Produkty_lecznicze2.ods
/public/vendor/
/dbdata/
/vendor/
.vscode
.DS_Store
medical.code-workspace
.env
node_modules
composer.lock
!.gitignore