/database/seeds/VivaDentSeed.php
/database/seeds/seed_file/db_rayMage/
/database/seeds/seed_file/931_pacjenci.csv
/database/seeds/seed_file/931_pacjenci.xls
/database/seeds/seed_file/BAZA.csv
/database/seeds/seed_file/BAZA.ods
/database/seeds/seed_file/BAZA.xls
/database/seeds/seed_file/Produkty_lecznicze2.ods
/public/vendor/
/dbdata/
/vendor/
.vscode
.DS_Store
medical.code-workspace
.env
node_modules
